@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo Application</h1>
    <p class="lead">This is an demo application to showcase the Continous integration and deployment using Jenkins.</p>
    <p><a href="https://github.com/MurthyTechM/Demo1" class="btn btn-primary btn-lg">Source code</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>All about Jenkins</h2>
        <p>
            Jenkins is an open source continuous integration tool written in Java. The project was forked from Hudson after a dispute with Oracle.
            Jenkins provides continuous integration services for software development. It is a server-based system running in a servlet container such as Apache Tomcat. It supports SCM tools including AccuRev, CVS, Subversion, Git, Mercurial, Perforce, Clearcase and RTC, and can execute Apache Ant and Apache Maven based projects as well as arbitrary shell scripts and Windows batch commands. The primary developer of Jenkins is Kohsuke Kawaguchi. Released under the MIT License, Jenkins is free software
            Builds can be started by various means, including being triggered by commit in a version control system, by scheduling via a cron-like mechanism, by building when other builds have completed, and by requesting a specific build URL.
        </p>
        <p><a class="btn btn-default" href="http://ec2-52-91-55-80.compute-1.amazonaws.com:8080/">Jenkins Home</a></p>
    </div>
    <div class="col-md-4">
        <h2>Demo Developed By</h2>
        <pTech Mahindra</p>
        <p><a class="btn btn-default" href="http://www.techmahindra.com">TechMahindra</a></p>
    </div>
</div>
