@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo Application</h1>
    <p class="lead">This is an demo application to showcase the Continous integration and deployment using Jenkins.</p>
    <p><a href="https://github.com/MurthyTechM/Demo1" class="btn btn-primary btn-lg">Source code</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Demo Developed By</h2>
        <img src="~/Content/Tech_Mahindra_New_Logo.svg" style="width:300px;height:100px;"/>
        
    </div>
</div>
